server {
  listen <%= node['tomcat-app']['nginx-http-port'] %>;
  server_name _;
  return 302 https://$host:<%= node['tomcat-app']['nginx-https-port'] %>$request_uri;
}

server {
    listen              <%= node['tomcat-app']['nginx-https-port'] %> ssl;
    server_name         _;
    ssl_certificate     /etc/ssl/nginx-cert.crt;
    ssl_certificate_key /etc/ssl/nginx-cert.key;
    location / {
      proxy_pass http://127.0.0.1:8080/sample/;
    }
}
